<div class="container author">
    <h3 class="center page-title text-left">Topic</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12">
                <%= form_for @topic, html: { class: "form-group row" } do |f| %>
                <div class="col-xs-4"><%= f.text_field :title, class: "form-control" %></div>
                <div class="col-xs-2"><%= f.text_field :collection, class: "form-control" %></div>
                <div class="col-xs-1"><%= f.text_field :code, class: "form-control" %></div>
                <div class="col-xs-2 "><div class="form-check"<%= f.check_box :featured, class: "form-check-input" %>
                <%= f.label :featured, class: "form-check-label" %></div></div>

                <%= f.submit @prompt, class: "btn btn-success" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
