<!-- f => form_for @image-->
<!-- klass => class to build fields for -->
<!-- member => nested_attribute to build fields_for -->
<!-- collection => collection of objects to render -->

<% title = defined?(klass.readable_class_name) ? klass.readable_class_name : klass.name %>
<% column = "#{klass.name.underscore}_ids".to_sym %>

<div class="col-xs-6">
  <h5><%= title.pluralize %></h5>

  <div class="btn-group" style="width: 100%;">

    <div id="<%= klass.name %>" class="customized-search-group" style="width: calc(100% - 45px);
      min-height: 35px;
      background-color: #fff;
      text-align: left;
      display: inline-block;
      padding: 2px 12px;
      padding-bottom: 5px;
      margin-bottom: 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: left;">
    </div>

    <button type="button" class="btn btn-default dropdown-toggle" style="border-left: none; min-height: 35px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <div class="dropdown-menu" data-type="menu">
      <div class="select2-search">
        <span class="glyphicon glyphicon-search input-search-icon"></span>
        <input class="dropdown-search" type="text" data-type="search-box" />
      </div>

      <ul class="dropdown-list" data-type="list" data-target="span">
        <%= f.collection_check_boxes column, collection, :id, :title, {}, "data-target-id" => klass.name do |b| %>
        <li>
          <a>
            <div class="customized-checkbox">
              <span> <%= b.text %> </span>
              <%= b.check_box %>
              <% # The block passed is essential to have a label with no text %>
              <%= b.label { " " } %>
            </div>
          </a>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
