<%= form_for @lesson do |f| %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Lesson Title</h5>
                        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
                    </div>
                    <div class="col-xs-12">
                        <h5>Lesson Grade</h5>
                        <%= f.text_field :grade, class: "form-control", placeholder: "Grade" %>
                    </div>
                    <div class="col-xs-12">
                        <h5>Lesson PDF</h5>
                          <div id="file_upload">
                            <%= f.file_field :pdf %>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 card-text">
                        <h5>Lesson Background</h5>
                        <%= f.text_area :background, class: "form-control" %>
                    </div>

                    <div class="col-xs-12 card-text">
                        <h5>Lesson Images</h5>
                          <%= f.collection_select(:image_ids, Image.all, :id, :title, {:include_blank => true},
                            {:selected => @lesson.image_ids, :multiple => true} )%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Topic / Standard / Collection -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="row" style="padding-bottom: 25px;">
          <%= render "shared/multi_dropdown", f: f, klass: Topic, member: :topic_assignments, collection: Topic.order(:title).all %>
          <%= render "shared/multi_dropdown", f: f, klass: Region, member: :region_assignments, collection: Region.order(:title).all %>
        </div>
        <div class="row">
          <%= render "shared/multi_dropdown", f: f, klass: CalStandard, member: :data_cal_standards, collection: CalStandard.order(:grade_id).order(:standard_id).all %>
          <%= render "shared/multi_dropdown", f: f, klass: NatStandard, member: :data_nat_standards, collection: NatStandard.order(:us_world).order(:era).all %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @lesson.id %>
  <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
    <%= link_to 'Delete Lesson', url_for(action: :destroy, id: @lesson.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-lg btn-danger',
                          style: 'margin-right: 8em;' %>
    <%= f.submit 'Update Lesson', :class => 'btn-lg btn btn-primary', style: 'width: 33%;' %>
  </div>
<% else %>
  <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
    <%= f.submit 'Add New Lesson', class: 'btn-lg btn btn-primary', style: 'width: 66%;' %>
  </div>
<% end %>

<% end %>
