<%= render 'site/search_bar', page: "lessons", target_page: "/lessons" %>
<div class="container lesson-card-group col-xs-7 col-md-8">
	<div class="row">
		<div class="col-md-12 panel panel-default lesson-header">
			<h5 class="col-md-3">Grade</h5>
			<h5 class="col-md-4">Title</h5>
			<h5 class="col-md-3">Author(s)</h5>
			<h5 class="col-md-2">Actions</h5>
		</div>
	</div>

	<% if is_admin? %>
	<div class="row">
		<div class="col-md-12 panel panel-default lesson-content new">
			<div class="col-md-12 header">
				<h5 class="col-md-12"><i class="glyphicon glyphicon-plus"></i>Add Lesson</h5>
			</div>
		</div>
	</div>
	<% end %>

	<% @lessons.each do |lesson| %>
	<% lesson.pdf = "" if lesson.pdf.nil? %>
	<div class="row">
		<div class="col-md-12 lesson-content panel panel-default" data-toggle="collapse" data-target="#lesson-<%= lesson.id %>" aria-expanded="true">
			<div class="col-md-12 header">
				<span class="col-md-3"><%= lesson.grade %></span>
				<span class="col-md-4"><%= lesson.title %></span>
				<span class="col-md-3"><%= lesson.authors.map { |a| a.name }.join(", ") %></span>
				<div class="col-md-2 lesson-file">
					<div>
						<span class="download"><a href="<%= lesson.pdf %>"><i class="glyphicon glyphicon-save" title="Download"></i></a></span>
						<span class="view-online"><a href="<%= lesson.pdf %>"><i class="glyphicon glyphicon-file" title="View online"></i></a></span>

						<% if is_admin? %>
						<a href="lessons/<%= lesson.id %>/edit"><i class="glyphicon glyphicon-pencil" title="Edit"></i></a>

						<%= link_to url_for(controller: :lessons, action: :destroy, id: lesson.id), method: :delete, data: { confirm: "Are you sure?"} do %>
						<i class="glyphicon glyphicon-trash" title="Delete"></i>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>

			<div id="lesson-<%= lesson.id %>" class="collapse lesson-info col-xs-12" aria-expanded="false">
				<h5>Background</h5>
				<p><%= lesson.background %></p>
				<h5 class="image-title">Image(s)</h5>
				<div class="image-card-group">
					<% lesson.images.each do |image| %>
					<div class="image-card">
						<img src="<%= image.thumbnail %>">
						<h5 class="text-center"><%= image.title %></h5>
					</div>
					<% end %>
				</div>
				<h5 class="image-title">Attachment(s)</h5>
				<ul class="attachment-card-group">
					<% lesson.attachments.each do |attachment| %>
					<li><a href="<%= attachement.url %>"><%= attachement.url.split("/").last %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<% end %>
</div>
