<%# <%= render 'site/search_sidebar', page: "lessons", target_page: "/lessons" %> %>

<div class="container lesson-card-group col-xs-8 pull-right">
  <div class="row">
    <div class="col-md-12 panel panel-default lesson-header">
      <h5 class="col-md-3"><strong>Grade</strong></h5>
      <h5 class="col-md-5"><strong>Title</strong></h5>
      <h5 class="col-md-2"><strong>Actions</strong></h5>
    </div>
  </div>

  <% @lessons.each do |lesson| %>
  <% lesson.pdf = "" if lesson.pdf.nil? %>
  <div class="row">
    <div class="col-md-12 lesson-content panel panel-default" data-toggle="collapse" data-target="#lesson-<%= lesson.id %>" aria-expanded="true">
      <div class="col-md-12 header">
        <span class="col-md-3"><%= lesson.grade %></span>
        <span class="col-md-4"><%= lesson.title %></span>
        <div class="col-md-2 lesson-file">
          <div>
            <% if lesson.pdf.attached? %>
            <%= link_to lesson.pdf, download: '' do %>
                <i class="glyphicon glyphicon-save" title="Download"></i>
              <% end %>
              <%= link_to lesson.pdf do %>
                <i class="glyphicon glyphicon-file" title="View online"></i>
              <% end %>
              <% else %>
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-primary request-lesson"
                        data-toggle="modal"
                        data-target="#requestLessonModal"
                        data-id="<%= lesson.id %>"
                        data-title="<%= lesson.title %>">
                        <i class="glyphicon glyphicon-envelope"></i> Request lesson
                </button>
            <% end %>
            <% if admin? %>
            <a href="lessons/<%= lesson.id %>/edit"><i class="glyphicon glyphicon-pencil" title="Edit"></i></a>
              <%= link_to url_for(controller: :lessons, action: :destroy, id: lesson.id), method: :delete, data: { confirm: "Are you sure?"} do %>
              <i class="glyphicon glyphicon-trash" title="Delete"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="lesson-<%= lesson.id %>" class="collapse lesson-info col-xs-12" aria-expanded="false">
        <h5>Lesson ID: <span style="font-weight: normal;"><%= lesson.id %></span></h5>
        <h5>Background</h5>
        <p><%= lesson.background %></p>
        <h5 class="image-title">Image(s)</h5>
        <div class="image-card-group">
        <% lesson.images.each do |image| %>
            <%= render 'images/grid_view', :image => image %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <!-- pagination -->
  <% if @num_pages > 1 %>
  <div class="apple_pagination">
    <%= will_paginate @lessons, params: params %>
  </div>
  <% end %>
</div>

<%= render 'lessons/mail_modal' %>
<%= render 'images/vertical_modal' %>
<%= render 'images/horizontal_modal' %>
