<div class="row search-result-page">
    <div id="sticky" class="sticky-element">
        <div class="sticky-anchor"></div>
        <div class="filter-panel col-xs-3 sticky-content">
            <div class="filter-panel-content">
                <form name="filter" method="GET">
                    <div class="filter-panel-title">
                        <h5 style="font-weight:bold;">Advanced Search</h5>
                        <div class="btn-group" data-toggle="buttons" style="margin: 10px 0px 10px 0px;">
                                <label class="btn btn-primary image-lesson-toggle active">
                                    <input class="" type="radio" name="options" id="option1" autocomplete="off" checked>Images
                                </label>
                                <label class="btn btn-primary image-lesson-toggle">
                                    <input type="radio" name="options" id="option2" autocomplete="off">Lessons
                                </label>
                        </div>
                        <div class="input-group" style="margin:15px 0px 25px 0px;">
                            <input type="text" name="q" class="form-control" value="<%= params[:q].present? ? params[:q] : "" %>">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" style="line-height: 0; top:3px;"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <% @filters.each do |filter| %>
                    <% next if filter.empty? %>
                    <% # Checks to see if we override a class's `name` method %>
                    <% klass = filter.first.class %>
                    <% title = defined?(klass.readable_class_name) ? klass.readable_class_name : klass.name %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default disable-click" style="width: calc(100% - 45px);"><%= title %></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" data-type="menu">
                            <div class="select2-search">
                                <span class="glyphicon glyphicon-search input-search-icon"></span>
                                <input class="dropdown-search" type="text" data-type="search-box">
                            </div>
                            <ul class="dropdown-list" data-type="list" data-target="span">
                                <% filter.each do |item| %>
                                <% checked = params[klass.name.downcase].include?(item.id.to_s) ? "checked" : "" if params[klass.name.downcase].present?%>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= item.title %></span>
                                            <input type="checkbox" value="<%= item.id %>" id="customized-checkbox" name="<%= klass.name.downcase %>" data-target-id="<%= klass.name %>" <%= checked %> />
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                    <div id="<%= klass.name %>" class="customized-search-group">
                    </div>

                    <div class="divider"></div>
                    <% end %>
                    <div class="year-selector-section col-xs-12">
                        <h5><b>Dates</b></h5>
                        <input type="number" name="start_year" class="col-xs-5" placeholder="Start Year" value="<%= params[:start_year] if params[:start_year].present? %>">
                        <div class="col-xs-2"></div>
                        <input type="number" name="end_year" class="col-xs-5" placeholder="End Year" value="<%= params[:end_year] if params[:end_year].present? %>">
                    </div>
                    <div class="btn-group flex-center"><button type="submit" class="btn btn-primary btn-submit-filters">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
