<div class="container admin">
    <h3 class="center page-title text-left">Admin Control Panel</h3>
    <!-- Authors -->
    <div class="panel panel-default">
        <div class="panel-header row">
            <h3 class="title col-xs-12">Authors</h3>
        </div>
        <div class="panel-body filter">
            <div class="col-xs-12 filter-header">
                <span class="col-xs-11">Name</span>
                <span class="col-xs-1">Actions</span>
            </div>
            <div class="filter-row-container col-xs-12">
                <% Author.all.each do |author| %>
                <div class="col-xs-12 filter-row">
                    <span class="col-xs-11 author-name"><%= author.name %></span>
                    <div class="col-xs-1 actions">
                        <%= link_to url_for(controller: :authors, action: :edit, id: author.id), method: :edit do %>
                        <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        <% end %>

                        <%= link_to url_for(controller: :authors, action: :destroy, id: author.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                        <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="filter-row col-xs-12 search">
                <div class="col-xs-12">
                    <%= form_for @author do |f| %>
                    <div class="form-group row">
                        <div class="col-xs-11">
                            <%= f.text_field :name, placeholder: "Author name", class: "form-control", data: { type: "search-box", target: ".filter-row span.author-name" } %>
                        </div>
                        <div class="col-xs-1">
                            <%= f.submit "+", class: "form-control btn btn-default"%>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Topics -->
    <div class="panel panel-default">
        <div class="panel-header row">
            <h3 class="title col-xs-12">Topics</h3>
        </div>
        <div class="panel-body filter">
            <div class="col-xs-12 filter-header">
                <span class="col-xs-4">Title</span>
                <span class="col-xs-4">Collection</span>
                <span class="col-xs-2">Code</span>
                <span class="col-xs-1">Featured</span>
                <span class="col-xs-1">Actions</span>
            </div>
            <div class="filter-row-container col-xs-12">
                <% Topic.all.each do |topic| %>
                <div class="col-xs-12 filter-row">
                    <span class="col-xs-4"><%= topic.title %></span>
                    <span class="col-xs-4"><%= topic.collection %></span>
                    <span class="col-xs-2"><%= topic.code %></span>
                    <span class="col-xs-1"><%= topic.featured? ? "Yes" : "No" %></span>
                    <div class="col-xs-1 actions">
                        <%= link_to url_for(controller: :topics, action: :edit, id: topic.id), method: :edit do %>
                        <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        <% end %>

                        <%= link_to url_for(controller: :topics, action: :destroy, id: topic.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                        <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="filter-row-container col-xs-12">
                <div class="col-xs-12">
                    <%= form_for @topic do |f| %>
                    <div class="form-group row">
                        <div class="col-xs-4"><%= f.text_field :title, placeholder: "Title", class: "form-control" %></div>
                        <div class="col-xs-4"><%= f.text_field :collection, placeholder: "Collection", class: "form-control" %></div>
                        <div class="col-xs-2"><%= f.text_field :code, placeholder: "Code", class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.check_box :featured, class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.submit "+", class: "form-control btn btn-default"%></div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Regions -->
    <div class="panel panel-default">
        <div class="panel-header row">
            <h3 class="title col-xs-11">Regions</h3>
        </div>
        <div class="panel-body filter">
            <div class="col-xs-12 filter-header">
                <span class="col-xs-11">Title</span>
                <span class="col-xs-1">Actions</span>
            </div>
            <div class="filter-row-container col-xs-12">
                <% Region.all.each do |region| %>
                <div class="col-xs-12 filter-row">
                    <span class="col-xs-11"><%= region.title %></span>
                    <div class="col-xs-1 actions">
                        <%= link_to url_for(controller: :regions, action: :edit, id: region.id), method: :edit do %>
                        <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        <% end %>

                        <%= link_to url_for(controller: :regions, action: :destroy, id: region.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                        <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="filter-row-container col-xs-12">
                <div class="col-xs-12">
                    <%= form_for @region do |f| %>
                    <div class="form-group row">
                        <div class="col-xs-11"><%= f.text_field :title, placeholder: "Title", class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.submit "+", class: "form-control btn btn-default"%></div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Cal Standards -->
    <div class="panel panel-default">
        <div class="panel-header row">
            <h3 class="title col-xs-11">Cal Standards</h3>
        </div>
        <div class="panel-body filter">
            <div class="col-xs-12 filter-header">
                <span class="col-xs-1">Grade</span>
                <span class="col-xs-2">Standard</span>
                <span class="col-xs-8">Description</span>
            </div>
            <div class="filter-row-container col-xs-12">
                <% CalStandard.all.each do |cal_standard| %>
                <div class="col-xs-12 filter-row">
                    <span class="col-xs-1"><%= cal_standard.grade_id %></span>
                    <span class="col-xs-2"><%= cal_standard.standard_id %></span>
                    <span class="col-xs-8"><%= cal_standard.description %></span>
                    <div class="col-xs-1 actions">
                        <%= link_to url_for(controller: :cal_standards, action: :edit, id: cal_standard.id), method: :edit do %>
                        <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        <% end %>

                        <%= link_to url_for(controller: :cal_standards, action: :destroy, id: cal_standard.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                        <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="filter-row-container col-xs-12">
                <div class="col-xs-12">
                    <%= form_for @cal_standard do |f| %>
                    <div class="form-group row">
                        <div class="col-xs-1"><%= f.text_field :grade_id, placeholder: "GID", class: "form-control" %></div>
                        <div class="col-xs-2"><%= f.text_field :standard_id, placeholder: "Standard ID", class: "form-control" %></div>
                        <div class="col-xs-8"><%= f.text_field :description, placeholder: "Description", class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.submit "+", class: "form-control btn btn-default"%></div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Nat Standards -->
    <div class="panel panel-default">
        <div class="panel-header row">
            <h3 class="title col-xs-11">Nat Standards</h3>
        </div>
        <div class="panel-body filter">
            <div class="col-xs-12 filter-header">
                <span class="col-xs-1">Era</span>
                <span class="col-xs-1">US</span>
                <span class="col-xs-9">Title</span>
            </div>
            <div class="filter-row-container col-xs-12">
                <% NatStandard.all.each do |nat_standard| %>
                <div class="col-xs-12 filter-row">
                    <span class="col-xs-1"><%= nat_standard.era %></span>
                    <span class="col-xs-1"><%= nat_standard.us_world? ? "Yes" : "No" %></span>
                    <span class="col-xs-9"><%= nat_standard.title %></span>
                    <div class="col-xs-1 actions">
                        <%= link_to url_for(controller: :nat_standards, action: :edit, id: nat_standard.id), method: :edit do %>
                        <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                        <% end %>

                        <%= link_to url_for(controller: :nat_standards, action: :destroy, id: nat_standard.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                        <i class="glyphicon glyphicon-trash" title="Delete"></i>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="filter-row-container col-xs-12">
                <div class="col-xs-12">
                    <%= form_for @nat_standard do |f| %>
                    <div class="form-group row">
                        <div class="col-xs-1"><%= f.text_field :era, placeholder: "GID", class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.check_box :us_world, placeholder: "Standard ID", class: "form-control" %></div>
                        <div class="col-xs-9"><%= f.text_field :title, placeholder: "Description", class: "form-control" %></div>
                        <div class="col-xs-1"><%= f.submit "+", class: "form-control btn btn-default"%></div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Notice -->
    <% if flash[:notice].present? %>
    <div class="notice success"><span><%= flash[:notice] %><span></div>
        <% end %>

        <% if flash[:error].present? %>
        <div class="notice error"><span><%= flash[:error] %><span></div>
            <% end %>
        </div>
