<div class="container admin">
  <h3 class="center page-title text-left">Manage Featured Collections</h3>

  <!-- Notice -->
  <% if flash[:notice].present? %>
    <div class="notice success"><span><%= flash[:notice] %></span></div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="notice error"><span><%= flash[:error] %></span></div>
  <% end %>

  <% if admin? %>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="featured-collections">

      <div class="panel panel-default">
        <div class="panel-body filter">

          <div class="col-xs-12 filter-header">
            <span class="col-xs-11">Title</span>
            <span class="col-xs-1">Actions</span>
          </div>

          <div class="filter-row-container col-xs-12 search">
            <div class="col-xs-12">
              <%= form_for @featured_collection do |c| %>
                <div class="form-group row">
                  <div class="col-xs-11"><%= c.text_field :title, placeholder: "Title", class: "form-control", data: { type: "search-box", target: ".filter-row span.topic-title" } %></div>
                  <div class="col-xs-1"><%= c.submit "+", class: "form-control btn btn-default"%></div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="filter-row-container col-xs-12">
            <% FeaturedCollection.all.each do |collection| %>
            <div class="col-xs-12 filter-row">
              <span class="col-xs-11 topic-title"><%= collection.title %></span>
              <div class="col-xs-1 actions">
                <% if false %>

                <%= link_to url_for(controller: :featured_collections, action: :edit, id: collection.id), method: :edit do %>
                  <i class="glyphicon glyphicon-pencil" title="Edit"></i>
                <% end %>

                <% end %>

                <%= link_to url_for(controller: :featured_collections, action: :destroy, id: collection.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                  <i class="glyphicon glyphicon-trash" title="Delete"></i>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>


  </div>
  <% end %>
</div>
