<div class="row">
    <div class="search-section">
        <form action="/search">
            <div class="input-group keyword-search">
                <input name="q" class="form-control" placeholder="Search" type="text" value="<%= params[:q] %>">
                <span class="input-group-addon">
				<button type="submit">
					<span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="advanced-search">Advanced Search Option</span>
        </a>
        <div class="collapse" id="collapseExample">
            <div class="advanced-search-section">
                <div class="btn-group dropdown-half-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">Region</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
                    <div class="dropdown-menu">
                        <div class="select2-search" style="padding: 12px 15px;">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @regions.each do |region| %>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= region.title %></span>
                                            <input type="checkbox" value="None" name="check">
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropdown-half-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">Collection</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
                    <div class="dropdown-menu">
                        <div class="select2-search" style="padding: 12px 15px;">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @collections.each do |collection| %>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= collection.title %></span>
                                            <input type="checkbox" value="None" id="customized-checkbox" name="check">
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropdown-full-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">Topic/Theme</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
                    <div class="dropdown-menu">
                        <!-- test -->
                        <div class="select2-search" style="padding: 12px 15px;">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @topics.each do |topic| %>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= topic.title %></span>
                                            <input class="topic-search" type="checkbox" value="None" name="check">
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropdown-full-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">California Standard</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
                    <div class="dropdown-menu">
                        <div class="select2-search">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @ca_standards.each do |standard| %>
                                <li>
                                    <div>
                                        <div class="customized-checkbox">
                                            <a style="padding-right:50px !important">
                                                <%= standard.label %>
                                            </a>
                                            <input type="checkbox" value="None" id="customized-checkbox" name="check">
                                            <label for="customized-checkbox" style="right:2%; margin-top:5px !important; margin-right:10px;"></label>
                                        </div>
                                    </div>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropdown-half-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">Grade Level</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
                    <div class="dropdown-menu">
                        <div class="select2-search" style="padding: 12px 15px;">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @regions.each do |region| %>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= region.title %></span>
                                            <input class="topic-search" type="checkbox" value="None" name="check">
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
                <div class="btn-group dropdown-half-width">
                    <button type="button" class="btn btn-default disabale-click" style="width: calc(100% - 45px);">Year</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
                    <div class="dropdown-menu">
                        <div class="select2-search" style="padding: 12px 15px;">
                            <span class="glyphicon glyphicon-search input-search-icon"></span>
                            <input class="dropdown-search" type="text">
                        </div>
                        <ul class="dropdown-list">
                            <% @collections.each do |collection| %>
                                <li>
                                    <a>
                                        <div class="customized-checkbox">
                                            <span><%= collection.title %></span>
                                            <input class="topic-search" type="checkbox" value="None" name="check">
                                            <label for="customized-checkbox"></label>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container image-card-group">
    <h3 class="center" style="font-weight: bold;
text-align: center;
margin-bottom: 35px;
margin-top: 60px;">Featured Collection</h3>
    <% cols = 4 %>
        <% rows = @cards.size / cols %>
            <% for i in 0...rows %>
                <div class="row">
                    <% for j in 0...cols %>
                        <% card = @cards[(cols * i) + j]%>
                            <% thumb = get_thumbnail(card.image) %>
                                <div class="col-xs-3">
                                    <div class="image-card">
                                        <%= link_to image_tag(thumb), search_url(:bestof => true, :topic_id => card.topic_id) %>
                                            <h5 class="text-center">
                                                <%= card.topic.title %>
                                            </h5>
                                    </div>
                                </div>
                                <% end %>
                </div>
                <% end %>
</div>
<!--Container-->

<%= render 'site/modal_horizontal_image' %>