<%= render 'search_bar' %>
<div class="container image-card-group col-xs-10 col-md-8 content-margin">
    <% if @images.nil? %>
    <div class="row">
        <h5 class="col-xs-12">No Images</h5>
    </div>
    <% else %>
    <% cols = 4.0 %>
    <% rows = @images.size / cols %>
    <% rows = rows.ceil %>
    <% for i in 0...rows %>
    <div class="row">
        <% for j in 0...cols %>
        <% index = (cols * i) + j %>
        <% break unless index < @images.size %>
        <% image = @images[index]%>
        <% thumb = get_thumbnail(image) %>
        <% thumb = "https://s3-us-west-1.amazonaws.com/marchand/thumb_IMG0000.jpg" unless thumb%>
        <% view = image.view.present? ? image.view : "landscape" %>

        <div class="col-xs-3" type="button" data-toggle="modal" data-target="#<%= view %>-modal">
            <div class="image-card" data-view="<%= view %>" data-src="<%= image.s3 %>" data-collection="<%= image.collection.present? ? image.collection.name : " " %>" data-card="<%= image.card %>" data-topics="<%= image.topics %>" data-regions="<%= image.regions %>" data-cal-standards="<%= image.cal_standards %>" data-nat-standards=" <%= image.nat_standards %>" data-citation="<%= image.citation %>" data-id="<%= image.id %>">
                <img src="<%= thumb %>">
                <h5 class="text-center title">
                    <%= image.title %>
                </h5>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
    <% end %>
</div>
<!--Container-->
</div>

<%= render 'site/modal_vertical_image' %>
<%= render 'site/modal_horizontal_image' %>
