<div class="container edit-image">
    <h4>Edit Image</h4>
    <!-- Image & Image Title -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Image Title</h5>
                            <input class="form-control" placeholder="Title" type="text" value="<%= @image.title %>">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <img src="<%= @image.s3 %>">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Text & Citation -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Card Text</h5>
                            <textarea class="form-control" placeholder="Description" type="text"><%= @image.card %></textarea>
                        </div>
                        <div class="col-xs-12">
                            <h5>Card Citation</h5>
                            <textarea class="form-control" placeholder="Search" type="text"><%= @image.citation %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Topic / Standard / Collection -->
    <div class="panel panel-default">
        <% @filters.each do |filter| %>
        <% next if filter.empty? %>
        <% # Checks to see if we override a class's `name` method %>
        <% klass = filter.first.class %>
        <% title = defined?(klass.readable_class_name) ? klass.readable_class_name : klass.name %>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5><%= title %></h5>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" style="width: calc(100% - 26px);">Action</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" data-type="menu">
                                            <div class="select2-search" style="padding: 12px 15px;">
                                                <span class="glyphicon glyphicon-search input-search-icon"></span>
                                                <input class="dropdown-search" type="text" data-type="search-box">
                                            </div>
                                            <ul class="dropdown-list" data-type="list" data-target="span">
                                                <% filter.each do |item| %>
                                                <% case item %>
                                                <% when Topic %>
                                                <% checked = @image.topic_assignments.exists?(topic_id: item.id) ? "checked" : "" %>
                                                <% when Collection %>
                                                <% checked = (@image.collection == item.id) ? "checked" : "" %>
                                                <% when CalStandard %>
                                                <% checked = @image.data_cal_standards.exists?(cal_standard_id: item.id) ? "checked" : "" %>
                                                <% when NatStandard %>
                                                <% checked = @image.data_nat_standards.exists?(nat_standard_id: item.id) ? "checked" : "" %>
                                                <% when Region %>
                                                <% checked = @image.region_assignments.exists?(region_id: item.id) ? "checked" : "" %>
                                                <% else %>
                                                <% puts "Something went wrong" %>
                                                <% checked = "" %>
                                                <% end %>
                                                <li>
                                                    <a>
                                                        <div class="customized-checkbox">
                                                            <span><%= item.title %></span>
                                                            <input type="checkbox" value="<%= item.id %>" id="customized-checkbox" name="<%= klass.name.downcase %>" data-target-id="<%= klass.name %>" <%= checked %> />
                                                            <label for="customized-checkbox"></label>
                                                        </div>
                                                    </a>
                                                </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px;">Assign<div></div></button>
                                    <div class="btn-group" style="width: 340px; margin-top:30px;">
                                        <input style="width:100%;" class="form-control">
                                    </div>
                                    <button type="button" class="btn btn-default btn-assign" style="margin-top: 10px;margin-left: 15px; margin-top: 30px;">Assign<div></div></button>
                                </div>
                                <!-- Filter tags go here -->
                                <div id="<%= klass.name %>" class="col-xs-6" style="padding-left:45px;padding-right:45px;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <!-- Permissions -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Permission to Display</h5>
                            <ul class="permission-check-box">
                                <li>
                                    <input type="checkbox" value="1" name="test[]" id="myid1">
                                    <label for="myid1">Yes</label>
                                </li>
                                <li>
                                    <input type="checkbox" value="2" name="test[]" id="myid2">
                                    <label for="myid2">No</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12"style="margin-top:30px;">
                            <h5>Permission Tracking Notes</h5>
                            <textarea class="form-control" placeholder="Search" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
