<%= javascript_include_tag 'admin_edit_image' %>

<%= form_for @image do |f| %>
  <!-- Image & Image Title -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row flex-center">
        <div class="col-xs-6 image-basic-information">

          <div class="col-xs-12">
            <h5 style="margin-bottom: 0px;">ID <span class="image_id" style="font-weight: normal;"><%= @image.id %></span></h5>
          </div>

          <div class="col-xs-12">
            <h5>Title</h5>
            <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>

          <div class="col-xs-12" style="margin-bottom: 2em;">
            <h5>Collection</h5>
            <%= f.select :collection_id, Collection.all.collect { |c| [c.name, c.id] }, include_blank: true %>
          </div>

          <div class="col-xs-4">
            <%= f.check_box :public %>
            <%= label_tag :image_public, "Public" %>
          </div>
          <div class="col-xs-4">
            <%= f.check_box :featured %>
            <%= label_tag :image_featured, "Featured" %>
          </div>
          <div class="col-xs-4">
            <%= f.check_box :missing %>
            <%= label_tag :image_missing, "Missing" %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="image-thumbnail col-xs-12">
            <% if @image&.preview && @image&.original %>
              <%= link_to image_tag(@image.preview, class: "preview"), @image.original, target: '_blank' %>
            <% end %>
            <%= f.file_field :original, class: "hidden upload-image-btn" %>
            <%= f.label :original, "Upload Image", class: "btn btn-default upload-image-btn" %>
          </div>
          <div id="image-edit-controls" class="col-xs-12">
            <button class="btn btn-default" title="Rotate left" data-edit-control="rotate_left" data-image-id="<%= @image.id %>"><%= image_tag 'ic_rotate_left_black_24dp_2x.png', class: 'image-edit-control' %></button>
            <button class="btn btn-default" title="Rotate right" data-edit-control="rotate_right" data-image-id="<%= @image.id %>"><%= image_tag 'ic_rotate_right_black_24dp_2x.png', class: 'image-edit-control' %></button>
            <button class="btn btn-default" title="Flip horizontally" data-edit-control="flip_horizontal" data-image-id="<%= @image.id %>"><%= image_tag 'ic_swap_horiz_black_24dp_2x.png', class: 'image-edit-control' %></button>
            <button class="btn btn-default" title="Flip vertically" data-edit-control="flip_vertical" data-image-id="<%= @image.id %>"><%= image_tag 'ic_swap_vert_black_24dp_2x.png', class: 'image-edit-control' %></button>
          </div>
          <div id="image-edit-controls-text" class="col-xs-12" style="visibility: hidden;">Please wait, image edit in progress ...</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Text & Citation -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 card-text">
              <h5>Card Text</h5>
              <%= f.text_area :card, class: "form-control" %>
            </div>
            <div class="col-xs-12">
              <h5>Card Citation</h5>
              <%= f.text_area :citation, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Topic / Standard / Collection -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="padding-bottom: 25px;">
            <%= render "shared/multi_dropdown", f: f, klass: Topic, member: :topic_assignments, collection: Topic.order(:title).all %>
            <%= render "shared/multi_dropdown", f: f, klass: Region, member: :region_assignments, collection: Region.order(:title).all %>
          </div>
          <div class="row">
            <%= render "shared/multi_dropdown", f: f, klass: CalStandard, member: :data_cal_standards, collection: CalStandard.order(:grade_id).order(:standard_id).all %>
            <%= render "shared/multi_dropdown", f: f, klass: NatStandard, member: :data_nat_standards, collection: NatStandard.order(:us_world).order(:era).all %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @image.id %>
    <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
      <%= link_to 'Delete Image', url_for(action: :destroy, id: @image.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-lg btn-danger',
                            style: 'margin-right: 8em;' %>
      <%= f.submit 'Update Image', :class => 'btn-lg btn btn-primary', style: 'width: 33%;' %>
    </div>
  <% else %>
    <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
      <%= f.submit 'Add New Image', class: 'btn-lg btn btn-primary', style: 'width: 66%;' %>
    </div>
  <% end %>

<% end %>
