<%= form_for @image do |f| %>
  <!-- Image & Image Title -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row flex-center">
        <div class="col-xs-6 image-basic-information">

          <div class="col-xs-12">
            <h5>Title</h5>
            <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>

          <div class="col-xs-12" style="margin-bottom: 2em;">
            <h5>Collection</h5>
            <%= f.select :collection_id, Collection.all.collect { |c| [c.name, c.id] }, include_blank: true %>
          </div>

          <div class="col-xs-4">
            <%= f.check_box :public %>
            <%= label_tag :image_public, "Public" %>
          </div>
          <div class="col-xs-4">
            <%= f.check_box :featured %>
            <%= label_tag :image_featured, "Featured" %>
          </div>
          <div class="col-xs-4">
            <%= f.check_box :missing %>
            <%= label_tag :image_missing, "Missing" %>
          </div>
        </div>

        <div class="col-xs-6 flex-center">
          <div class="image-thumbnail">
            <%= image_tag @image.thumbnail, class: "preview" %>
            <%= f.file_field :original, class: "hidden upload-image-btn" %>
            <%= f.label :original, "Upload Image", class: "btn btn-default upload-image-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Text & Citation -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 card-text">
              <h5>Card Text</h5>
              <%= f.text_area :card, class: "form-control" %>
            </div>
            <div class="col-xs-12">
              <h5>Card Citation</h5>
              <%= f.text_area :citation, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Topic / Standard / Collection -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="padding-bottom: 25px;">
            <%= render "shared/multi_dropdown", :f => f, :klass => Topic, :member => :topic_assignments %>
            <%= render "shared/multi_dropdown", :f => f, :klass => Region, :member => :region_assignments %>
          </div>
          <div class="row">
            <%= render "shared/multi_dropdown", :f => f, :klass => CalStandard, :member => :data_cal_standards %>
            <%= render "shared/multi_dropdown", :f => f, :klass => NatStandard, :member => :data_nat_standards %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @image.id %>
    <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
      <%= link_to 'Delete Image', url_for(action: :destroy, id: @image.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-lg btn-danger',
                            style: 'margin-right: 8em;' %>
      <%= f.submit 'Update Image', :class => 'btn-lg btn btn-primary', style: 'width: 33%;' %>
    </div>
  <% else %>
    <div class='col-md-12' style='text-align: center; margin-bottom: 5em;'>
      <%= f.submit 'Add New Image', class: 'btn-lg btn btn-primary', style: 'width: 66%;' %>
    </div>
  <% end %>

<% end %>
