<div class="container edit-image">
    <%= form_for @image do |f| %>
    <%= f.hidden_field :view %>
    <%= f.hidden_field :thumbnail %>
    <h3 class="center page-title text-left">Edit Image</h3>
    <!-- Image & Image Title -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row flex-center">
                <div class="col-xs-6 image-basic-information">
                    <div class="col-xs-12">
                        <h5>Image Title</h5>
                        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
                    </div>
                    <div class="col-xs-12">
                        <h5>Image Collection</h5>
                        <%= f.select :collection_id, Collection.all.collect { |c| [c.name, c.id] }, include_blank: true %>
                          <!-- <div class="btn-group collection-dropdown">
                            <button type="button" class="btn btn-default disable-click" style="width: calc(100% - 45px);">test!!</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                        </div> -->
                    </div>
                    <div class="col-xs-12">
                        <%= f.check_box :public %>
                        <%= label_tag :image_public, "Public" %>
                    </div>
                    <div class="col-xs-12">
                        <%= f.check_box :featured %>
                        <%= label_tag :image_featured, "Featured" %>
                    </div>
                </div>


                <div class="col-xs-6 flex-center">
                    <div class="image-thumbnail">

                        <%= image_tag @image.thumbnail, class: "preview" %>
                        <%= f.file_field :s3, class: "btn btn-default upload-image-btn" %>
                        <!-- <button type="button" class="btn btn-default upload-image-btn" style="display:block;">Upload New Image</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Text & Citation -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 card-text">
                            <h5>Card Text</h5>
                            <%= f.text_area :card, class: "form-control" %>
                        </div>
                        <div class="col-xs-12">
                            <h5>Card Citation</h5>
                            <%= f.text_area :citation, class: "form-control" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Topic / Standard / Collection -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <%= render "filter", :f => f, :klass => Topic, :member => :topic_assignments %>
                            <%= render "filter", :f => f, :klass => Region, :member => :region_assignments %>
                            <%= render "filter", :f => f, :klass => CalStandard, :member => :data_cal_standards %>
                            <%= render "filter", :f => f, :klass => NatStandard, :member => :data_nat_standards %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions col-md-3">
        <%= f.submit "Update Image", :class => "form-control btn btn-success btn-submit"%>
        <%= link_to 'Delete',url_for(action: :destroy,id: @image.id),method: :delete, data: {confirm: "Are you sure?"}, class: "form-control btn btn-danger btn-delete" %>
    </div>

    <% end # image form %>
</div>
