<% cache "#{image.id}-#{image.updated_at.try(:utc).try(:to_s, :number).to_s}-list" do %>
  <%= link_to image, class: 'link-to-image-content' do %>
  <div class="row" style="margin-bottom: 2.5em; border-bottom: 1px solid #ddd;">
    <div class="col-xs-3 image-card">
      <% if image.original.attached? %>
        <%= image_tag(image.thumbnail) %>
      <% end %>
    </div>
    <div class="col-xs-9" style="margin-bottom: 2em;">
      <h4><%= image.title %></h4>
      <span style="font-size: 0.8em;">Image ID: <%= image.id %></span>
      <% if image.collection.present? %>
        <h5 style="font-style: italic;"><b>Collection:</b> <%= image.collection.name %></h5>
      <% end %>
      <h5 style="margin-top: 5px;"><b>Topic(s):</b> <%= image.topics.map { |t| t.title }.join(', ') %></h5>
      <h5 style="margin-top: 5px;"><b>Region(s):</b> <%= image.regions.map { |t| t.title }.join(', ') %></h5>
      <h5 style="margin-top: 5px;"><b>CA Standard(s):</b> <%= image.cal_standards.map { |t| t.title }.join(', ') %></h5>
      <h5 style="margin-top: 5px;"><b>National Standard(s):</b> <%= image.nat_standards.map { |t| t.title }.join(', ') %></h5>
      <!-- Card text and citation will be displayed only in print CSS -->
      <h5 style="margin-top: 5px; display: none;"><b>Card Text:</b> <%= image.card %></h5>
      <h5 style="margin-top: 5px; display: none;"><b>Citation:</b> <%= image.citation %></h5>
    </div>
  </div>
  <% end %>
<% end %>
