<div class="search-section">
  <form name="filter">
    <div class="input-group keyword-search">
      <input name="q" class="form-control" placeholder="Search" type="text" value="<%= params[:q] %>">
      <span class="input-group-addon">
        <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
    <%= render 'advanced_search' %>
  </form>
</div>

<div class="container marchand-description-container">
  <div class="row marchand-description-content">
    <div class="col-md-3">
      <%= image_tag("Marchand.gif", :class => "center-block marchand-profile") %>
    </div>
    <div class="col-md-9">
      <div>
        <h3>Marchand Archive</h3>
        <p>
          The Marchand Archive is a collection of more than 15,000 images and a growing number of document-based lesson plans. This site brings together the original <b><i>Adventures in Roland Marchand’s File Cabinet (1999)</i></b> and the <b><i>Marchand Image Collection (2001)</i></b>. In 2007, with funding from the National Endowment for the Humanities, we expanded the image collection with contributions from UC Davis History Department faculty. Many of these images, digitized from slides, are not available elsewhere. The expanding collection of lesson plans developed by teacher leaders, graduate students, and staff, encourage students to apply their analytical skills to a set of primary sources from which they can deduce and explain events from the past.
        </p>
        <p>
          In July 2017, with support from the UC Davis Division of Social Sciences, we launched this updated platform to make using the collection much easier. Please share with us how you are using the collection and contact us if you have any difficulties finding materials you have used in the past.
        </p>
      </div>
    </div>
  </div>
</div>

<% if @featuredcards.length > 0 %>
  <div class="container image-card-group">
    <h3 class="page-title text-center">Featured Collections</h3>
    <div class="flex-row-wrap featured">
      <% @featuredcards.each do |featuredcard| %>
        <% if defined?featuredcard[:image].thumbnail %>
          <div class="image-card">
            <%= link_to image_tag(featuredcard[:image].thumbnail), images_url(:featuredcollection => featuredcard[:featured_collection].id) %>
            <h5 class="text-center">
              <%= featuredcard[:featured_collection].title %>
            </h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container image-card-group">
  <h3 class="page-title text-center">Topics</h3>
  <div class="flex-row-wrap featured">
    <% @cards.each do |card| %>
    <div class="image-card">
      <%= link_to image_tag(card[:image].thumbnail), images_url(:bestof => true, :topic_id => card[:topic].id) %>
      <h5 class="text-center">
        <%= card[:topic].title %>
      </h5>
    </div>
    <% end %>
  </div>
</div>

<div class="container marchand-description-container" style="margin-bottom: 4em;">
  <div class="row marchand-description-content">
    <div class="col-md-12">
      <h3>About Roland</h3>
      <p>
        Roland Marchand, an internationally acclaimed scholar and author of <i>Advertising the American Dream</i> and <i>Creating the Corporate Soul</i>, co-founded the History Project at UC Davis to improve history education, kindergarten through university. Materials from his own award-winning teaching provided the basis for the original online collection.
      </p>
    </div>
  </div>
</div>
