<%= render 'site/search_sidebar', page: "images", target_page: "/images" %>

<div class="container image-card-group content-margin">

  <% if @images.nil? %>
    <div class="row">
      <h5 class="col-xs-12">No Images</h5>
    </div>
  <% else %>
    <div class="collection-title">
      <% if @bestof %>
        <h3>Featured Collection: <%= @bestof %></h3>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 view-controls">
        <button class="btn btn-default selected" title="Grid view" data-view-mode="grid"><%= image_tag 'ic_view_module_black_24dp_2x.png' %></button>
        <button class="btn btn-default" title="List view" data-view-mode="list"><%= image_tag 'ic_view_list_black_24dp_2x.png' %></button>
        <button class="btn btn-default" title="Print" onClick="window.print();"><%= image_tag 'ic_print_black_24dp_2x.png' %></button>
      </div>
    </div>

    <div class="row flex-row-wrap view-mode-grid" style="display: none;">
      <% @images.each do |image| %>
        <%= render 'grid_view', :image => image %>
      <% end %>
    </div>

    <div class="view-mode-list" style="display: none;">
      <% @images.each do |image| %>
        <%= render 'list_view', :image => image %>
      <% end %>
    </div>
  <% end %>

  <!-- pagination -->
  <% if @num_pages > 1 %>
  <div class="apple_pagination">
    <%= will_paginate @images, params: params %>
  </div>
  <% end %>
</div>

<%= render 'vertical_modal' %>
<%= render 'horizontal_modal' %>
