<%= render 'site/search_sidebar', page: "images", target_page: "/images" %>

<div class="container image-card-group content-margin">

  <% if @images.nil? %>

    <div class="row">
      <h5 class="col-xs-12">No Images</h5>
    </div>

  <% else %>

    <div class="collection-title">
      <% if @bestof %>
        <h3>Featured Collection: <%= @bestof %></h3>
      <% end %>
    </div>

    <% if @num_pages > 1 %>
    <div class="apple_pagination">
      <%= will_paginate @images, params: params %>
    </div>
    <% end %>

    <div class="row flex-row-wrap">

      <% @images.each do |image| %>

        <div class="col-xs-3 image-card"
            type="button"
            data-toggle="modal"
            data-target="#<%= image.orientation %>-modal"
            data-view="<%= image.orientation %>"
            data-authors="<%= image.authors.map { |a| a.name } %>"
            data-src-original="<%= image.original %>"
            data-src-preview="<%= image.preview %>"
            data-src-preview-width="<%= image.preview_width %>"
            data-src-preview-height="<%= image.preview_height %>"
            data-collection="<%= image.collection.present? ? image.collection.name : " " %>"
            data-card="<%= image.card %>"
            data-topics="<%= image.topics.map { |t| t.title } %>"
            data-regions="<%= image.regions.map { |r| r.title } %>"
            data-cal-standards="<%= image.cal_standards.map { |c| c.title } %>"
            data-nat-standards="<%= image.nat_standards.map { |n| n.title } %>"
            data-citation="<%= image.citation %>"
            data-id="<%= image.id %>">

          <img src="<%= image.thumbnail %>" />

          <h5 class="text-center title"><%= image.title %></h5>
        </div>

      <% end %>

    </div>

  <% end %>
</div>

<%= render 'vertical_modal' %>
<%= render 'horizontal_modal' %>
