<!DOCTYPE html>
<html>
<head>
	<title>Marchand Image Collection</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

	<script type="text/javascript">
		window.marchand = {};
	</script>
</head>

<body>
	<header>
		<nav>
			<div class="container-fluid">
				<div class="row top-header">
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input class="universal-search" name="SearchableText" size="18" title="Search Site" placeholder="Search Site" accesskey="4" class="searchField" id="searchGadget" autocomplete="off" type="text">
						</div>
					</form>

					<ul class="pull-right inline">
						<% if session[:cas_user].present? %>
						<li><a href="/admin" class="cas-login">Control Panel</a></li>
						<li><a href="/logout" class="cas-login">CAS Logout</a></li>
						<% else %>
						<li><a href="/login" class="cas-login">CAS Login</a></li>
						<% end %>
					</ul>
				</div>
				<div class="row nav-pages">
					<div class="col-md-3">
						<%= image_tag("marchand-logo.svg", :class => "center-block marchand-logo") %>
					</div>
					<div class="col-md-6 navigation-bar">
						<ul class="nav">
							<li><a href="<%= root_url %>">Home</a></li>
							<li><a href="#">Programs</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">Event</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>
	</header>
	<%= yield %>
</body>
</html>
